li
{
    color: darkgoldenrod;
}
.code-link:link
{
    color: aquamarine;
}
.code-link:hover
{
    color: blue;
}

.code-link:visited
{
    color: darkgreen;
}

.un-code-link:link
{
    color: gray;
}

h2
{
    color: orange;
}

body
{
    background: url(../images/code/binary.png) no-repeat center center fixed;
    /*兼容浏览器版本*/
    -webkit-background-size: cover;
    -o-background-size: cover;                
    background-size: cover;
}