.nlist
{
    list-style-type: none;
}
.game-n
{
    color: darkgray;
}
.game
{
    color: aquamarine;
}
.sj
{
    color: cadetblue;
}
.sp:link
{
    color: aquamarine;
}
.sp:hover
{
    color: blue;
}
.sp:visited
{
    color: darkgreen;
}