li
{
    color: darkgoldenrod;
}
.nlist
{
    list-style-type: none;
}
.game-n
{
    color: darkgray;
}
.game
{
    color: aquamarine;
}
.sj
{
    color: cadetblue;
}
.sp:link
{
    color: aquamarine;
}
.sp:hover
{
    color: blue;
}
.sp:visited
{
    color: darkgreen;
}

h2
{
    color: orange;
}

body
{
    background: url(../images/game/tree.jpg) no-repeat center center fixed;
    /*兼容浏览器版本*/
    -webkit-background-size: cover;
    -o-background-size: cover;                
    background-size: cover;
}